<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instructions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>InstructionsWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>InstructionsWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3BB9C7B2159561D00505FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3BB9C8F2159561F00505FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3BB9C9A2159561F00505FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3BB9CAE2159567400505FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
